/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

.light-theme {
  --clr-bg: #fff;
  --clr-font: #000;
  --clr-box: #fff;
  --clr-secondary: rgb(17, 23, 29);
  --clr-search-bg: var(--clr-box);
  --clr-info: #09aeae;
  --clr-danger: #a8240a;
  --clr-warning: #cca91b;
  --clr-success: rgb(12, 99, 12);
  --clr-mode: rgb(9, 12, 16);
}

.dark-theme {
  --clr-bg: rgb(9, 12, 16);
  --clr-font: rgb(240, 246, 252);
  --clr-secondary: rgb(218, 231, 245);
  --clr-box: #1d262b;
  --clr-search-bg: var(--clr-box);
  --clr-info: var(--clr-box);
  --clr-danger: var(--clr-box);
  --clr-warning: var(--clr-box);
  --clr-success: var(--clr-box);
  --clr-mode: rgb(46, 150, 43);
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: "Oswald", sans-serif;
  background-color: var(--clr-bg);
}

/* Global styles */
.section {
  padding: 4rem 0;
}

.section-center {
  width: 85vw;
  max-width: 1170px;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--clr-font);
}

@media screen and (min-width: 568px) {
  .section-title {
    font-size: 2.5rem;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  object-fit: contain;
}

/* WorldStats Component */
.corona-img-container,
.preloader-img-container {
  display: grid;
  place-items: center;
}

.corona-img {
  width: 10rem;
  height: 10rem;
}

.preloader-img {
  width: 5rem;
  height: 5rem;
}

.world-stats-center {
  display: grid;
  gap: 2rem;
}

.world-card {
  display: grid;
  place-items: center;
  gap: 1rem;
  /* background-color: rgb(93, 47, 119); */
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
}

.world-card > h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.world-card > span {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.world-card > p {
  letter-spacing: 0.05rem;
}

.world-card.info {
  background-color: var(--clr-info);
}

.world-card.danger {
  background-color: var(--clr-danger);
}

.world-card.warning {
  background-color: var(--clr-warning);
}

.world-card.success {
  background-color: var(--clr-success);
}

/* Responsive Design for WorldStats Component */
@media screen and (min-width: 768px) {
  .world-stats-center {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .world-stats-center {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* CountriesStats Component */
.form-search {
  text-align: center;
  margin-bottom: 1rem;
}

#input-country {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 500;
  background-color: var(--clr-search-bg);
  color: var(--clr-font);
  border-color: var(--clr-search-bg);
}

.btn-search {
  font-size: 2.2;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn-search:hover {
  background-color: #09aeae;
}

.countries-stats-center {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2rem;
}

.country-card {
  background-color: var(--clr-box);
  border-radius: 0.5rem;
  text-align: center;
  color: var(--clr-font);
  display: grid;
  gap: 0.5rem;
  padding: 1.5rem 0;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.7);
}

.country-card > h3 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.flag-img-container {
  display: grid;
  place-items: center;
  margin-bottom: 0.5rem;
}

.country-card > p {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.flag-img {
  width: 100%;
  height: 5rem;
}

.covid-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.covid-info > div > p {
  font-weight: 450;
}

.covid-info > div > span {
  letter-spacing: 0.1rem;
  color: var(--clr-secondary);
}

.btn-toggle {
  position: absolute;
  top: 5%;
  right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 0.1s linear;
  outline: none;
  background-color: var(--clr-mode);
  border: 0.3rem solid var(--clr-mode);
  border-radius: 2rem;
  cursor: pointer;
}

.mode-icon {
  display: inline-block;
  padding: 0.4rem;
}

.slider {
  position: absolute;
  top: 8%;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.slide {
  left: 50%;
}

.light-mode-icon,
.dark-mode-icon {
  width: 1.5rem;
  height: 1.5rem;
}
/* Responsive Design for CountriesStats Component */
@media screen and (min-width: 672px) {
  .countries-stats-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 972px) {
  .countries-stats-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
